---
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Wildan | Portfolio">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-full">
        <h1
          class="mb-5 text-4xl font-bold text-center leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          Hello, I'm Wildan Zhilal Manafi.
        </h1>
        <h3 class="mb-5 text-transparent bg-clip-text bg-gradient-to-r from-cyan-500 to-sky-500 text-4xl font-bold text-center leading-tight md:text-4xl lg:text-6xl"><span id="typed"></span></h3>
      </div>
    </div>
  </div>

  <Separator text="Check out my projects" />
  <Projects />
</Layout>
